<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stupendous.jumbledwords">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.stupendous.jumbledwords.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.stupendous.jumbledwords.GameActivity"></activity>
        <activity android:name="com.stupendous.jumbledwords.GameActivity2"></activity>

        <provider
            android:name="com.stupendous.jumbledwords.provider.JumbleContentProvider"
            android:authorities="com.stupendous.jumbledwords.provider"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1914893119799187~1684497951"/>
    </application>

</manifest>
